{
    box-sizing: border-box
}
body{
    background:rgb(0, 0, 0);
    /*reset*/
    padding: 200px;
    margin:300px;
}
.pluto, .pluto2{
    color: rgb(252, 235, 235);
    height: 200px;
    width: 200px;
    border: thin;
    border-color: green;
    background-image: url('../../assets/img/venus.jpg');
    background-size: cover;
    border-radius: 100%;
    position: relative;
    
    
    
}
.pluto2{
    bottom: 0px;
    left: 200px;
    position: absolute;
    animation: mover 4s ease infinite;
}
.pluto{
    bottom: 100px;
    left: 1000px;
    position: relative;
    animation: movers 4s ease alternate infinite;
}
.spinner{
    height: 200px;
    width: 200px;
    position: absolute;
    animation: spin 4s ease alternate infinite;
}

@keyframes mover{
    0%{
        left: 200px;
        top: 0px;
        
    }

    25%{
        left: 200px;
        top: 500px;
        
    }
    
    50%{
        left: 700px;
        top: 500px;
        
        
        transform: scale(1.8);
        
    }

    75%{
        left: 700px;
        top: 0px;
        background-color: rgba(206, 236, 235, 0.877);
        
    }

    100%{
        left: 200px;
        top: 0px;
    }
}

@keyframes movers{
    0%{
    transform: scale(7.0);

    }


    100%{
        transform: scale(0.01);
        bottom: 300px;
    
    }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}