*{
    box-sizing: border-box
}
body{
    background:rgb(229, 227, 243);
    /*reset*/
    padding: 0;
    margin:0;
}
li{
    list-style-type: none;
}

#box{
    height: 220px;
    width: 220px;
    background-color: red;
    margin:10px;
}
.first{
    padding-left: 100px;
    
}
[class*='col-']{
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
.container:after,
.container:before{
    display: table;
    content: '';
    clear: both;
}

.first:after,
.first:before{
    display: table;
    content: '';
    clear: both;
}
.col-33{
    width: calc(100%);
}