{
    box-sizing: border-box
}
body{
    
    /*reset*/
    background: black;
    padding: 0;
    margin:0;
}
div{
    margin: auto;
}
.contain{
    height: 1200px;
    width: 1200px;
    padding:300px;
    margin: 200px;
}
.pluto{
    height: 1000px;
    width: 1000px;
    background-size: cover;
    border-radius: 100%;
    
    position: relative; 
    animation-name: spin;
    animation-duration: 20000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
    margin: auto;
    left: 20%;
}
.neptune{
    height: 875px;
    width: 875px;
    background-size: cover;
  
    position: fixed; 
    animation-name: spin;
    
    animation-duration: 900000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
    margin : auto;
    left: 20%;
}

.uranus{
height: 750px;
width: 750px;
left: 20%;
background-size: cover;
border-radius: 100%;
border: thin;
border-color: yellow;
position: fixed; 
animation-name: spin;
animation-duration: 900000ms;
animation-iteration-count: infinite;
animation-timing-function: linear; 
margin: auto;
    }
.saturn{
    height: 625px;
    width: 625px;
    background-size: cover;
    border-radius: 100%;
    border: thin;
    border-color: rgb(223, 255, 39);
    position: fixed; 
    animation-name: spin;
    animation-duration: 100000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
    margin: auto;
    }
.jupiter{
    height: 500px;
    width: 500px;
    background-size: cover;
    border-radius: 100%;
    border: thin;
    border-color: rgb(223, 255, 39);
    position: fixed; 
    animation-name: spin;
    animation-duration: 10000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
    margin: auto;
    left: 20%;
    }
.mars{
    height: 375px;
    width: 375px;
    background-size: cover;
    border-radius: 100%;
    border: thin;
    border-color: rgb(223, 255, 39);
    position: fixed; 
    animation-name: spin;
    animation-duration: 10000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
    margin: auto;
    left: 20%;
    }
.earth{
    height: 225px;
    width: 225px;
    background-size: cover;
    border-radius: 100%;
    border: thin;
    border-color: rgb(223, 255, 39);
    position: fixed; 
    animation-name: spin;
    animation-duration: 100000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
    margin: auto;
    left: 20%;
    }
.venus{
    height: 100px;
    width: 100px;
    background-size: cover;
    border-radius: 100%;
    border: thin;
    border-color: rgb(223, 255, 39);
    position: fixed; 
    animation-name: spin;
    animation-duration: 150000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
    margin: auto;
    left: 20%;
    }


.sun{
    height: 150px;
    width: 150px;
    background-size: cover;
    border-radius: 100%;
    background-image: url('../../assets/img/Sun.png');
    animation: spin 5s ease reverse infinite; 
}

.plutop{
    background-image: url('../../assets/img/pluto.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left:-200px;
    height: 100px;
    width: 100px;
    background-size: cover;
    border-radius: 100%;
}

.neptunep{
    background-image: url('../../assets/img/neptune.webp');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left:-300px;
    height: 100px;
    width: 100px;
    background-size: cover;
    border-radius: 100%;
}

.uranusp{
    background-image: url('../../assets/img/uranus.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left:-200px;
    height: 200px;
    width: 200px;
    background-size: cover;
    border-radius: 100%;
}

.saturnp{
    background-image: url('../../assets/img/saturn.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left:-200px;
    height: 100px;
    width: 100px;
    background-size: cover;
    border-radius: 100%;
}

.jupiterp{
    background-image: url('../../assets/img/jupiter.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left:-200px;
    height: 100px;
    width: 100px;
    background-size: cover;
    border-radius: 100%;
}

.marsp{
    background-image: url('../../assets/img/mars.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left:-200px;
    height: 100px;
    width: 100px;
    background-size: cover;
    border-radius: 100%;
}

.earthp{
    background-image: url('../../assets/img/mars.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left:-200px;
    height: 500px;
    width: 500px;
    background-size: cover;
    border-radius: 100%;
}

.mecuryp{
    background-image: url('../../assets/img/mecury.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left:-200px;
    height: 100px;
    width: 100px;
    background-size: cover;
    border-radius: 100%;
}

.venusp {
    background-image: url('../../assets/img/venus.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left:-150px;
    height: 50px;
    width: 50px;
    background-size: cover;
    border-radius: 100%;
}
  
  @keyframes spin {
      from {
          transform:rotate(0deg);
      }
      to {
          transform:rotate(360deg);
      }
  }